<footer>
    <div>
        <a class="shields" href="https://github.com/nilsonlinux/Nilsonlinux" data-toggle="tooltip" data-placement="top" title="GitHub">
            <img src="https://img.shields.io/github/stars/nilsonlinux/Nilsonlinux?label=Star&style=social" alt="GitHub" /></a>
        <a class="shields" href="https://twitter.com/intent/follow?screen_name=Nilsonlinux" data-toggle="tooltip" data-placement="top" title="Twitter">
            <img src="https://img.shields.io/twitter/follow/Nilsonlinux" alt="Twitter" /></a>
        <a class="shields" href="https://discord.gg/Nilsonlinux" data-toggle="tooltip" data-placement="top" title="Discord">
            <img src="https://img.shields.io/discord/194170124859736065?label=Join&logo=Discord&style=social" alt="Discord" /></a>
        <a class="shields" href="https://www.reddit.com/r/nilsonlinux" data-toggle="tooltip" data-placement="top" title="Reddit">
            <img src="https://img.shields.io/reddit/subreddit-subscribers/Nilsonlinux?label=Follow&style=social" alt="Reddit" /></a>
        <p>Copyright &copy; 2007-{{ site.time | date: '%Y' }} <a href="https://github.com/orgs/Nilsonlinux/people">{{ site.author }}</a> · <a href="/privacy-policy">Privacy Policy</a></p>
    </div>
</footer>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]:not([title=""])').tooltip({
            trigger: "hover"
        });
    });
</script>

{% if page.title != "Authorization" %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMKGNQHF87"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FMKGNQHF87');
</script>

<!-- Contador Yandex.Metrika -->
<tipo de script="texto/javascript" >
   (função(m,e,t,r,i,k,a){m[i]=m[i]||função(){(m[i].a=m[i].a||[ ]).push(argumentos)};
   m[i].l=1*nova Data();
   for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (janela, documento, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(95891542, "inicialização", {
        mapa de cliques: verdadeiro,
        trackLinks: verdadeiro,
        exactTrackBounce: verdadeiro
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95891542" estilo="posição:absoluta; esquerda:-9999px; alt=" /></div></noscript>
<!-- /Contador Yandex.Metrika -->
       
{% endif %}
